:root {
	--headline-color: #BEBEBE;
	--text-color: #BEBEBE;
	--background-color: #3f3f3f;
	--tab-button-bg-color: #bebebee8;
	--tab-button-bg-color-hover: rgb(141, 141, 141);
	--tab-button-font-color: #3f3f3f;
	--tab-button-font-color-hover: #ffffff;
}

body {
	background: #888888;
	z-index: -1;
	height: 100%;
	overflow: hidden;

}

.container-flex {
	margin: 10vh auto;
	width: 815px;
	height: 600px;
}

#abacus {
	width: 100%;
	height: 82%;
	margin-bottom: 10px;
}


#framework {
	background-color: #e8c58e;
	background-repeat: repeat;
	height: 100%;
	width: 100%;
	padding: 1px;
	border-radius: 20px;
	border: #472901 5px solid;
}

#upper-row {
	margin: 25px auto 0;
	height: 25%;
	width: 92%;
	border: #472901 5px solid;
	background-color: #939393;
	background-size: 80px 60px;
	background-repeat: repeat;
	border-radius: 20px;
}

#lower-row {
	margin: 20px auto 0;
	height: 60%;
	width: 92%;
	background-color: #939393;
	border: #472901 5px solid;
	background-size: 80px 60px;
	background-repeat: repeat;
	border-radius: 20px;
}

.col-10 {
	display: block;
	float: left;
	width: 10%;
	height: 100%;
	margin: 0;
}


.vertical-line {
	width: 12%;
	height: 99%;
	background-color: rgb(232, 197, 142);
	border: #472901 3px solid;
	border-radius: 6px;
	margin: 0 auto;
	z-index: -1;
}

#framework {
	float: left;
}

#framework img {
	position: relative;
	width: 90%;
	cursor: pointer;
	left: 5%;
}

.balla {
	bottom: 345px;
}

.ballb {
	bottom: 210px;
}

.ball5 {
	bottom: 100px;
}

.ball4 {
	bottom: 225px;
}

.ball3 {
	bottom: 255px;
}

.ball2 {
	bottom: 285px;
}

.ball1 {
	bottom: 315px;
}


#operators {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100%;
	height: 10vh;
	background-color: #888888;
	border: 2px solid #2C1910;
	margin: 10px auto;
	margin-top: 20px;
	border-radius: 20px;
}

.words {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: -20px;
	font-size: 1.3rem;
}

#operators img{
	margin: -1vh 0 0 0 ;
	height: 9vh;
}

.operator-button {
	cursor: pointer;
	width: auto;
}


#display {

	display: flex;
	background-color: #888888;
	border: 2px solid #2C1910;
	border-radius: 20px;
	justify-content: center;
	width: 100%;
	height: 8vh;
}

#display p {
	color: #2C1910;
	font-size: 2.6em;
	text-align: center;
	justify-content: center;
	align-items: center;
	margin: auto;
}

.block {
	display: flex;
}

.block img {
	width: 100%;
	height: 100%;
	max-height: 40vh;
	min-height: 30vh;
}

.common {
	position: absolute;
	flex-direction: column;
	justify-content: flex-start;
    width: calc((100vw - 950px) / 2);
	max-height: 40vh;
	max-width: fit-content;

	border-radius: 20px;
	border: #2C1910 2px solid;
	padding: 6px;
}

.addition {
	top: 10vh;
	left: 1vw;
}

.reduction {
	top: 55vh;
	left: 1vw;
}

.multiplication {
	top: 10vh;
	right: 1vw;
}

.division {
	top: 55vh;
	right: 1vw;
}


.container {
	position: fixed;
	bottom: 10px;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	z-index: 2;
	font-family: "HarmonyOS_Sans_SC_Medium";
}

.tabs {
	display: flex;
	position: relative;
	background-color: var(--tab-button-bg-color);
	box-shadow: 0 0 1px 0 rgba(24, 94, 224, 0.15), 0 6px 12px 0 rgba(24, 94, 224, 0.15);
	padding: 0.5rem;
	border-radius: 15px;
}

.tabs * {
	z-index: 3;
}

input[type="radio"] {
	display: none;
}

.tab {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 4vh;
	width: 200px;
	font-size: 1.1rem;
	border-radius: 15px;
	cursor: pointer;
	transition: color 0.01s ease-in;
	color: var(--tab-button-font-color);
}

input[type="radio"]:checked+label {
	color: var(--tab-button-font-color-hover);
}

input[type="radio"]:checked+label>.notification {
	background-color: var(--primary-color);
	color: var(--tab-button-font-color);
}

input[id="radio-1"]:checked~.glider {
	transform: translateX(0);
}

input[id="radio-2"]:checked~.glider {
	transform: translateX(100%);
}

input[id="radio-3"]:checked~.glider {
	transform: translateX(200%);
}

input[id="radio-4"]:checked~.glider {
	transform: translateX(300%);
}

input[id="radio-5"]:checked~.glider {
	transform: translateX(400%);
}

.glider {
	position: absolute;
	display: flex;
	height: 4vh;
	width: 200px;
	background-color: var(--tab-button-bg-color-hover);
	z-index: 2;
	border-radius: 10px;
	transition: 0.25s ease-out;
}

@media (max-width: 700px) {
	.tabs {
		transform: scale(0.6);
	}
}